<header>
  <app-menu-bar></app-menu-bar>
</header>
<app-menu-title></app-menu-title>

<div class="blog__cards">
  <div class="blog__bigcard">
    <app-big-card photo="https://i.ytimg.com/vi/t9m_O_SOcSw/maxresdefault.jpg"  bigCardTitle="está funcionando" bigCardDescription="Vincule o Arquivo CSS ao Componente: Certifique-se de que o arquivo CSS onde você definiu a regra esteja vinculado ao componente. Você pode fazer isso de algumas maneiras:"></app-big-card>
  </div>
  <div class="blog_smallcards">

    <app-small-cards photo="https://i.ytimg.com/vi/t9m_O_SOcSw/maxresdefault.jpg" smallCardPhoto="https://i.ytimg.com/vi/t9m_O_SOcSw/maxresdefault.jpg" smallCardTitle="Vincule o Arquivo CSS ao Componente: Certifique-se de que o arquivo CSS onde você definiu a regra esteja vinculado ao componente. Você pode fazer isso de algumas maneiras:"></app-small-cards>
    <app-small-cards photo="https://i.ytimg.com/vi/t9m_O_SOcSw/maxresdefault.jpg" smallCardPhoto="https://i.ytimg.com/vi/t9m_O_SOcSw/maxresdefault.jpg" smallCardTitle="Vincule o Arquivo CSS ao Componente: Certifique-se de que o arquivo CSS onde você definiu a regra esteja vinculado ao componente. Você pode fazer isso de algumas maneiras:"></app-small-cards>
    <app-small-cards photo="https://i.ytimg.com/vi/t9m_O_SOcSw/maxresdefault.jpg" smallCardPhoto="https://i.ytimg.com/vi/t9m_O_SOcSw/maxresdefault.jpg" smallCardTitle="Vincule o Arquivo CSS ao Componente: Certifique-se de que o arquivo CSS onde você definiu a regra esteja vinculado ao componente. Você pode fazer isso de algumas maneiras:"></app-small-cards>
  </div>
</div>
