<div class="container__content">
<div class="contentTitle">
<h1>Angular Routing</h1>
</div>
<div class="contentImages"  >
  <img src="https://i.ytimg.com/vi/t9m_O_SOcSw/maxresdefault.jpg" alt="">
</div>
<div class="container__contentDescripition">
<div class="contentDescripition">
<h2>Introdução ao Roteamento no Angular</h2>
 <p> O que é Roteamento?
    O roteamento no Angular permite que você crie
    aplicativos de página única (Single Page Applications - SPAs)
    onde os diferentes componentes da interface do
    usuário são exibidos em resposta a URLs específicos.
    Isso significa que, em vez de carregar páginas completamente novas,
    você pode carregar e exibir apenas os componentes
    necessários com base nas URLs.
  </p>
<h3>Configurando o Roteamento</h3>
  <p>  Para configurar o roteamento no Angular, siga estas etapas:
     <span>1-Instale o Pacote @angular/router:</span>
      Certifique-se de que você tenha o pacote @angular/router instalado
      em seu projeto. Se não estiver instalado, você pode instalá-lo
      usando o seguinte comando:
    </p>
    <code>ng add @angular/router </code>
    <p><span>2-Crie um Módulo de Roteamento:</span>
    Crie um módulo específico para o roteamento em seu aplicativo.
    Isso geralmente é feito usando o Angular CLI com o seguinte comando:
  </p>
  <div class="code">
    <span> ng generate module app-routing --flat --module=apps </span>
  </div>
</div>
  </div>

</div>
